body {
    font-family: sans-serif;
}

q, cite {
    float: left;
    clear: both;
}
q {
}
.deck-container q:before,
.deck-container q:after {
    content: "\0022";
}
.deck-container cite {
    margin-left: 40px;
    display: block;
}
cite:before {
    content: " - ";
}

.code_sample {
    height: 120px;
    width: 100%;
    border: 1px solid #ddd;
}
.code_sample textarea,
.code_sample button,
.code_sample pre {
    float: left;
}
.code_sample button {
    margin-top: 48px;
}
.code_sample textarea,
.code_sample pre {
    width: 42%;
    height: 120px;
    padding: 8px;
    margin: 8px;
    font-size: 14px;
    font-family: monospace;
}

img {
    float: left;
}
.slide li img {
    float: none;
    display: inline;
    margin: 0;
}

.slide blockquote {
    margin: 0 auto 32px;
    width: 600px;
}
