body {
    font-family: sans-serif;
}

.deck-container {
  width: 90%;
}

q, cite {
    float: left;
    clear: both;
}
.slide q {
  font-weight: bold;
}
.deck-container q:before,
.deck-container q:after {
    content: "\0022";
}
.deck-container cite {
    margin-left: 40px;
    display: block;
}
cite:before {
    content: " - ";
}

#slide-25 div {
  min-height: 240px;
  min-width: 300px;
  margin: 0 16px 16px 0;
  float: left;
}

#slide-29 {
clear: left;
}

.slide p {
    line-height: 22px;
}

.slide code {
    border: 1px solid #cacaca;
    margin: 2px;
}

.code_sample {
    height: 120px;
    width: 100%;
    border: 1px solid #ddd;
}
.code_sample textarea,
.code_sample button,
.code_sample pre {
    float: left;
}
.code_sample button {
    margin-top: 48px;
}
.code_sample textarea,
.code_sample pre {
    width: 45%;
    height: 120px;
    padding: 8px;
    margin: 8px;
    font-size: 14px;
    font-family: monospace;
}

img {
    float: left;
}
.slide li img {
    float: none;
    display: inline;
    margin: 0;
}

.slide blockquote {
    margin: 0 auto 32px;
    width: 600px;
}
